@import 'styles/DefaultValueVariable.scss';

.background {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: grid;
  grid-template-rows: 50px calc(100% - 110px) 40px;
  grid-row-gap: 10px;
  margin: 10% auto;
  width: 30%;
  height: 50%;
  padding: 15px;
  border: 1px solid #888;
  border-radius: 10px;
  background-color: #DFE7F5;

  &__title {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;

    >div:first-child {

      >img {
        cursor: pointer;
      }
    }

    >div:nth-child(2) {
      text-align: center;
    }

    >div:last-child {
      display: flex;
      justify-content: end;

      >img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }

  &__content {
    padding: 10px;
    background-color: #fff;

    >div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      >div:first-child {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;

    >button {
      width: 100%;
    }
  }
}