@import 'styles/DefaultValueVariable.scss';

.background {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: grid;
  grid-template-rows: 50px 40px calc(100% - 50px - 80px - 30px)  40px 40px;
  grid-row-gap: 10px;
  margin: 10% auto;
  width: 20%;
  height: 50%;
  padding: 15px;
  border: 1px solid #888;
  border-radius: 10px;
  background-color: #1c85c7;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
  }

  &__search {
    display: grid;
    grid-template-columns: 90px 1fr 60px;
    grid-column-gap: 10px;
    place-items: center;
    padding: 0 10px;
    background-color: #fff;

    >div:first-child {
      width: 100%;
    }

    >input {
      width: 100%;
      padding: 0 5px;
    }

    >button {
      width: 100%;
      font-size: 14px;
      font-weight: 600;
      height: 25px;
    }
  }

  &__list {
    background-color: #fff;

    >div:first-child {
      display: grid;
      grid-template-columns: 40px 1fr 1fr 1fr;
      place-items: center;
      border-bottom: 1px solid black;
      padding: 3px 10px;
      background-color: #D9D9D9;
    }

    >div:last-child {
      height: calc(100% - 28px);
      overflow: auto;

      >div {
        display: grid;
        grid-template-columns: 40px 1fr 1fr 1fr;
        place-items: center;
        padding: 5px 10px;
        margin-bottom: 5px;
        cursor: pointer;

        &:hover {
          color: blue;
          background-color: #D9D9D9;
        }
      }

      .active {
        background-color: #D9D9D9;
      }

    }



    &--btn {
      cursor: pointer;
    }
  }


  &__btn {
    display: flex;
    justify-content: center;

    >button {
      width: 70px;
      font-size: 14px;
      font-weight: 600;
    }
  }

}