.layout {
  // display             : grid;
  // grid-template-rows  : 90px calc(100% - 90px - 90px) 90px;
  min-width           : 100vw;
  max-width           : 100vw;
  min-height          : 100vh;
  max-height          : 100vh;

  .login {
    padding: 0;
    width: calc(100% - 10px * 2);
    min-height: calc(100vh - 100px);
  }

  .admin {
    display: flex;
    height: calc(100vh - 100px - 85px - 30px);

    .nav {
      position: relative;
      flex-basis: 14rem;
      padding: 100px 0;
    }
  }
}