.admin {
  display: flex;

  .nav {
    flex-basis: 14rem;
    height: 100%;
  }

  .content {
    flex-basis: 90%;
    padding: 40px 40px;

    >div {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      place-items: center;
      height: 45px;
    }

    &__header {

    }
  }
}