.client {

  .client__title {
    padding: 30px 0 20px 0;

    >div:first-child {
      width: 60px;
      border-top: 2px solid #0C134F;
    }

    >div:last-child {
      display: flex;
      align-items: center;
      height: 30px;
      font-size: 25px;
    }

  }

  .client__btn {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;

    >div {
      display: flex;
      align-items: end;

      >button {
        padding: 5px 10px;
        margin-right: 10px;
        border: 1px solid #C4C4C4;
        border-radius: 20px;
        font-size: 12px;
        background-color: #fff;
      }

      >button:first-child {
        border: 1px solid #fff;
        color: #fff;
        background-color: #FFC436;
      }
    }

    > button {
      width: 100px;
			height: 40px;
      background-color: #FFC436;
      border-style: none;
      font-weight: 600;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    }

  }

  .client__search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 50px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #1D267D;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);

    > div {
      margin-right: 30px;
    }

    .client__search--precondition {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      >div {
        font-size: 14px;
        font-weight: 600;
        color: #fff;

        >div {
          margin-bottom: 5px;
        }

        >input {
          height: 30px;
          width: 200px;
          padding: 0 10px;
          outline: none;
          border: 1px solid #C4C4C4;
        }
      }

      .client__search--btn {
        display: flex;
        align-items: center;

        > button {
          margin-left: 25px;
          width: 100px;
          height: 40px;
          background-color: #FFC436;
          border-style: none;
          font-weight: 600;
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
        }
      }
    }

  }

  .client__list {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);

    .grid__btn {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 5px;


      >button {
        height: 30px;
        line-height: 20px;
        box-sizing: border-box;
        padding: 5px;
        color: #fff;
        background-color: #5C469C;
      }
    }
    .grid__btn--atch {

      >button {
        border-style: none;
        background-color: inherit;

        >img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  .client__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    >div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      border-radius: 20px;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);

      .client__pagination--num {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 30px;

        >li{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          font-size: 14px;
          font-weight: 600;
          background-color: transparent;
          cursor: pointer;
        }

        .client__pagination--active {
          background-color: #1D267D;
          color: #fff;
        }
      }

      .client__pagination--arrow {

        >button {
          width: 40px;
          height: 40px;
          border-style: none;
          background-color: transparent;
        }
      }

      .client__pagination--pre {

      }
      .client__pagination--next {

      }
    }
  }
}