// Font size
$--font-regular             : 16px;
$--font-small               : 14px;

// Font weight
$--weight-bold              : 700;
$--weight-semi-bold         : 500;
$--weight-regular           : 400;