header {
  display     : flex;
  align-items : center;
  position    : fixed;
  height      : 85px;
  width       : 100%;
  background-color: #140850;

  .nav {
    display               : grid;
    grid-template-columns : 200px 1fr 200px;
    width                 : 100%;
    padding               : 0 30px;

    &__logo {
      width: 100%;

      > img {
        width: 200px;
        height: 60px;
        cursor: pointer;
      }
    }

    &__menu {
      display       : flex;
      align-items   : center;
      padding-left  : 30px;

      &__bar {
        display: flex;
        align-items: center;

        >li {
          padding: 10px 25px;
          font-size: 18px;
          font-weight: 600;
          color: #AABFE1;
          cursor: pointer;

          &:hover {
            border-radius: 10px;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
          }
        }

        >div:not(:last-child) {
          height: 20px;
          margin: 0 10px;
          border: 1px solid #C4C4C4;
        }
      }
    }

    &__user {
      display: flex;
      justify-content: center;
      align-items: center;

      >div {
        padding: 0 10px;
        color: #AABFE1;
      }

      >img {
        border-radius: 50%;
        padding: 2px;
        background-color: #AABFE1;
      }
    }
  }

}