
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

  .register {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;

    >div {
      display: grid;
      grid-template-rows: 35px 35px 35px 35px 35px 35px 250px 35px;
      grid-row-gap: 15px;

      >div:not(:nth-child(1) :nth-child(5),:nth-child(6), :last-child) {

        >div {
          line-height: 35px;
        }

        >input {
          height: 100%;
          width: 100%;
          padding: 0 10px;
          border: 1px solid #c4c4c4;
        }
      }

      >div:nth-child(1) {
        display: flex;

        >button {
          width: 120px;
          border-style: none;
          border-right: 1px solid #c4c4c4;
          border-top: 1px solid #c4c4c4;
          border-bottom: 1px solid #c4c4c4;
          background-color: #FFC436;
          color: #fff;
        }
      }

      >div:nth-child(3) {
        position: relative;

        >p {
          position: absolute;
          right: 20px;
          top: 9px;
          font-size: 13px;
          color: red;
        }
      }

      >div:nth-child(5) {
        display: grid;
        grid-template-columns: 90px 150px 90px 150px;
        grid-column-gap: 20px;
        place-items: center;
      }

      >div:nth-child(6) {
        display: grid;
        grid-template-columns: 90px 150px;
        grid-column-gap: 20px;
        place-items: center;
      }

      >div:nth-child(7) {

        >textarea {
          height: 100%;
          width: 100%;
          padding: 10px;
          border: 1px solid #c4c4c4;
        }
      }

      >div:last-child {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        >button {
          height: 100%;
          width: 70px;
          margin-left: 10px;
          border-style: none;
          background-color: #dce0fd;

          &:hover {
            background-color: #b9c1fc;
          }
        }
      }
    }
  }
}
