.admin {
  display: flex;
  height: calc(100vh - 100px - 85px - 30px);

  .nav {
    position: relative;
    flex-basis: 14rem;
    padding: 100px 0;

  }

  .content {
    display: flex;
    justify-content: center;
    flex-basis: 90%;
    padding: 50px;
    box-shadow: inset 0 -1px 20px rgba(0, 0, 0, 0.2);
    background-color: #F1F1F1;

    &__reg {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      border-radius: 10px;
      background-color: #fff;

      >div {
        display: grid;
        grid-template-rows: 35px 35px 35px 35px 35px 250px 35px;
        grid-row-gap: 15px;

        >div:not(:nth-child(1) :nth-child(5), :last-child) {

          >div {
            line-height: 35px;
          }

          >input {
            height: 100%;
            width: 100%;
            padding: 0 10px;
            border: 1px solid #c4c4c4;
          }
        }

        >div:nth-child(1) {
          display: flex;

          >button {
            width: 120px;
            border-style: none;
            border-right: 1px solid #c4c4c4;
            border-top: 1px solid #c4c4c4;
            border-bottom: 1px solid #c4c4c4;
            background-color: #FFC436;
            color: #fff;
          }
        }

        >div:nth-child(5) {
          display: grid;
          grid-template-columns: 90px 150px 90px 150px;
          grid-column-gap: 20px;
          place-items: center;
        }

        >div:nth-child(6) {

          >textarea {
            height: 100%;
            width: 100%;
            padding: 10px;
            border: 1px solid #c4c4c4;
          }
        }

        >div:last-child {
          display: flex;
          justify-content: center;
          align-items: center;

          >button {
            height: 100%;
          }
        }
      }
    }
  }
}