.admin {
  display: flex;
  height: calc(100vh - 100px - 85px - 30px);

  .nav {
    position: relative;
    flex-basis: 14rem;
    padding: 100px 0;

  }
  .nav::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0.1px;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.3);
  }

  .content {
    flex-basis: 90%;
    padding: 40px 40px;
    background-color: #F1F1F1;

    &__reg {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      border-radius: 20px;

      >div {
        display: grid;
        grid-row-gap: 15px;

        >div:not(:nth-child(5), :last-child) {
          display: grid;
          grid-template-columns: 150px 700px;

          >div {
            line-height: 35px;
          }

          >input {
            border-style: none;
            border-radius: 15px;
            padding: 0 10px;
          }
        }

        >div:nth-child(5) {
          display: grid;
          grid-template-columns: repeat(4, 150px);

          >div:nth-child(odd) {
            line-height: 35px;
          }
        }

        >div:nth-child(6) {

          >textarea {
            height: 250px;
            border-radius: 15px;
            border-style: none;
          }
        }

        >div:last-child {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}