.btn {
  display: grid;
  place-items: center;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  background-color: #fff;

	&.btn--background {

		&-default {
			// background-color: #E5E5E5;
		}

    &-blue {
      border: 1px solid #fff;
      color: #fff;
      background-color: #115DD5;
    }
	}

  &:disabled{
    opacity: 20%;
    cursor: not-allowed;
  }
}

