.register {
  width: 100%;
  max-width: 1280px;
  margin: 20px auto;

  .register__area {
    display: grid;
    grid-template-rows: 24px calc(100% - 24px - 150px - 20px * 2) 150px;
    gap: 20px;
    min-width: 100%;
    height: 100%;

    .register__title {
      display: flex;
      justify-content: space-between;

      >div {
        display: flex;

        >button {
          width: 90px;
          height: 30px;
          margin-left: 10px;
          font-size: 14px;
          font-weight: 600;
          border-style: none;
          background-color: #FFC436;
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
        }
      }
    }

    .register__content {
      display: grid;
      grid-template-rows: repeat(1fr);
      border: 1px solid #E5E5E5;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);

      > div {
        &:not(:first-child) {
          display: grid;
          grid-template-columns: 20% 80%;
          height: 40px;
          border-bottom: 1px solid #fff;
        }

        &:first-child {
          border-bottom: 1px solid #fff;

          >div{
            height: 39px;
          }
        }

        &:nth-child(3) {
          grid-template-columns: 20% 30% 20% 30%;

          >div:nth-child(even) {
            display: grid;
            grid-template-columns: 1fr 50px;
            grid-column-gap: 5px;

            >button {
              height: 35px;
            }
          }
        }

        &:nth-child(4) {
          grid-template-columns: 20% 30% 20% 30%;

          >div:nth-child(2) {
            display: grid;
            grid-template-columns: 1fr 50px;
            grid-column-gap: 5px;

            >button {
              height: 35px;
            }
          }
        }

        &:nth-child(5), &:nth-child(7) {
          grid-template-columns: 20% 30% 20% 30%;
        }

        &:nth-child(6) {
          grid-template-columns: 20% 30% 20% 30%;

          >div:nth-child(even){

            >div {
              display: flex;
              align-items: center;

              >label {
                display: flex;
                align-items: center;

                >div {
                  display: flex;
                  align-items: center;

                  .datepicker {
                    width: 120px;
                    border-style: none;
                    font-size: 14px;
                  }
                }
              }

              >input {
                width: 80px;
                padding: 0 5px;
                text-align: right;
                margin-left: 5px;
                border: 1px solid #E5E5E5;
              }
              >input::placeholder {
                font-size: 14px;
              }

            }

          }
        }

        &:nth-child(8), &:nth-child(9) {

          >div:last-child {

            >div{
              display: grid;
              grid-template-columns: 70px 100px 70px 100px 70px 100px;
              grid-column-gap: 10px;
              justify-content: left;
              align-items: center;
              padding: 0 3px;

              >div:nth-child(odd) {
                text-align: right;
              }

              >input {
                padding: 0 5px;
                text-align: right;
                border: 1px solid #E5E5E5;
              }
            }
          }
        }

        > div {
          display: flex;
          justify-content: center;
          align-items: center;

          &:nth-child(odd) {
            font-size: 14px;
            font-weight: 600;
            color: #E5E5E5;
            background-color: #1c427e;
          }

          &:nth-child(even) {
            padding: 0 3px;
          }

          > span {
            color: red;
          }

          > div { //SelectBox
            width: 100%;
            height: 35px;
            border: 1px solid #E5E5E5;
            padding: 2px 10px;
          }

          >textarea {
            width: 100%;
            height: 100%;
            padding: 10px;
            border: 1px solid #E5E5E5;
          }

          &:not(:last-child) {
            border-right: 1px solid #fff;
          }
        }

        &:last-child {
          height: 150px;
        }
      }
    }

    .register__file {
      display: grid;
      grid-template-columns: 20% 80%;
      border: 1px solid #E5E5E5;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);

      &--th {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1c427e;
        color: #fff;
        height: 150px;

      }

      &--td {
        height: 150px;
        overflow: hidden;

        >div:first-child {
          padding: 5px;
          border-bottom: 10px groove #ccc;

          >input {
            display: none;
          }
          >label {

            >div {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 80px;
              height: 25px;
              border-radius: 5px;
              font-size: 14px;
              font-weight: 600;
              cursor: pointer;
              background-color: #EEE0C9;
            }
          }
        }

        >div:last-child {
          // height: 150px;
          height: 105px;
          overflow: auto;
          padding: 5px;

          >div {
            display: flex;
            justify-content: space-between;

            >div {
              display: flex;

              >div {
                margin-right: 10;
              }
            }
          }
        }
      }
    }
  }
}

.closeBtn {
  background-color: #fff;

  >span{
    display: block;
    width: 13px;
    height: 2px;
    position: relative;
    cursor: pointer;

    &::before,
    &::after{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: #999;
      position:absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
    }

    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
  }
}

.system {
  max-width: 1280px;
  margin: 60px auto;
  display: grid;
  // grid-template-rows: 24px 200px calc(100% - 24px - 400px - 20px * 3) 200px;
  grid-template-rows: 24px 160px calc(100% - 24px - 360px - 20px * 3) 200px;
  gap: 20px;

  .system__title {
    display: flex;
    justify-content: space-between;

    >div {
      display: flex;

      >button {
        width: 90px;
        height: 30px;
        margin-left: 10px;
        font-size: 14px;
        font-weight: 600;
        border-style: none;
        background-color: #EEE0C9;
      }
    }
  }

  .system__list {
    display: grid;
    grid-template-rows: repeat(1fr);
    margin-bottom: 20px;

    >div {
      display: grid;
      grid-template-columns: repeat(14, 1fr);
      height: 40px;
      font-size: 14px;

      &:not(:first-child) {
        border: 1px solid #c4c4c4;

        >div {
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          >div {
            width: 100%;
            padding: 0 5px;
          }

          &:not(:last-child) {
            border-right: 1px solid #c4c4c4;
          }
        }
      }
    }

    >div:first-child {
      color: #fff;
      background-color: #1c427e;

      >div {
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
          border-right: 1px solid #fff;
        }
      }
    }
  }

  .system__info {
    display: grid;
    grid-template-rows: repeat(1fr);

    >div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      border: 1px solid #c4c4c4;

      height: 40px;

      >div {
        display: grid;
        grid-template-columns: 100px 1fr;
        height: 40px;

        &:not(:last-child) {
          border-bottom: 1px solid #c4c4c4;
        }

        >div {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;

          >input {
            width: 100%;
            height: 100%;
            padding: 0 3px;
            border: none;
          }

          >span {
            height: 100%;
            line-height: 39px;
            background-color: #fafafa;
          }
        }

        >div:first-child {
          color: #fff;
          background-color: #1c427e;
        }
      }

      >div:nth-child(8) {

        >div {

          >input {
            text-align: right;
          }
          >span {
            padding-right: 5px;
          }
        }
      }
      >div:nth-child(9) {

        >div {

          >input {
            text-align: right;
          }
          >span {
            padding-right: 5px;
          }
        }
      }
      >div:nth-child(11) {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      >div:nth-child(12) {
        grid-column-start: 3;
        grid-column-end: 5;
      }
    }
  }

  .system__etc {
    display: grid;
    grid-template-columns: 20% 80%;

    >div:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      background-color: #1c427e;
    }
  }
}

.close {
  display: grid;
  place-items: center;
  width: 35px;
  height: 35px;
  border:none;
  cursor: pointer;
}
.a11y--hidden{
  display: block;
  text-indent: -9999px;
}
